{% extends "base.twig" %}

{% block content %}
	<div class="bg tw-flex tw-justify-center tw-border tw-content-center tw-h-screen tw-bg-gray-50 tw-items-center tw-bg-center tw-bg-no-repeat tw-font-sans tw-text-primary tw-leading-tight" >
		<div class="copy tw-w-96 tw-p-2 sm:tw-p-0">
			<h1 class="tw-mb-4 tw-w-32 "><img src="{{ site.theme.link }}/static/img/logo.svg" alt="Team Power"></h1>
			
			<p class="tw-text-lg tw-mb-2 
			  hidden sm:tw-block tw-leading-snug
			">After 25 years of total dedication to our clients, we though it was time to do something for ourself. We're going trough a full brand redesign. </p>
            
			<p class=" tw-leading-snug tw-text-lg "> Our new website will be ready soon, meanwhile if you want to know more about how our local business is challenling the monopoly of the big energy corporate, <a class=" tw-underline" href="mailto:bill@teampower.co.nz">flick us a email</a>, or call Bill at <a class=" tw-underline" href="telf:0064274333593">(64)274333593.</a>
			
            </p> 

			<div class="tw-mt-5 ">{% include "./partial/xxss.twig" %}</div>
             
		</div>
	</div>

	<style>
	.bg {
		background-image: url({{ site.theme.link }}/static/img/teampower-logo.svg);
	}

	@media (max-width: 500px) {
		.bg {
			background-image: url({{ site.theme.link }}/static/img/mobile-bg.svg);
			background-size: cover;
		}
		.copy  {
			width:80%;	
		}

		.hidden {
			display:none;
		}

	}
	
	</style>

{% endblock %}
