<div class="tw-flex tw-justify-start ">
    <a  target="_blank" href="https://linkedin.com/company/team-power-limited/">
        <img class=" tw-w-12 tw-mr-3" src="{{ site.theme.link }}/static/img/linkedin.svg" alt="Linkedin">
    </a>
     <a target="_blank" href="https://www.facebook.com/teampowernz">
        <img class=" tw-w-12 tw-mr-3" src="{{ site.theme.link }}/static/img/facebook.svg" alt="Facebook">
    </a>
	<a target="_blank" href="https://www.instagram.com/teampower_nz">
		<img class=" tw-w-12 tw-mr-3" src="{{ site.theme.link }}/static/img/instagram.svg" alt="Instagram">
    </a>		
</div>

